<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="divId">

        <div>
            <!-- 在{{ }}占位符里使用属性计算 -->
            {{ getDivContent }}
        </div>

        <div>
            <input v-model="firstName">
            <input v-model="lastName"><br>
            fullName: {{ getFullName }}
        </div>


    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>

        const App = Vue.createApp({
            data() {
                return {
                    todos: ['A', 'B', 'C'],
                    firstName: '',
                    lastName: ''
                }
            },
            computed: {
                // 定义一个getDivContent的属性计算
                getDivContent() {
                    return this.todos
                },
                getFullName() {
                    result = this.firstName + this.lastName
                    console.log("result = " + result)
                    return result
                }
            }
        })
        App.mount('#divId')

    </script>

</body>

</html>